table {
  td {
    vertical-align: middle;
    span{
      max-width: 400px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  th{}
  background: white;
}
.title{
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.custom-table__action-btn {
  cursor: pointer;
  border: 1px solid #eee;
  background: none;
  margin-right: 5px;

  svg {
    pointer-events: none;
    padding: 5px;
    width: 1.7em;
    height: 1.7em;
  }
}