.App {
    text-align: center;

}

.header__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240, 0.9);
    margin: 0 auto;
    z-index: 99;
}

.header__top {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background: #15337eed;
    align-items: center;

}

.header {

    position: fixed;
    z-index: 99999;
    width: 100%;

}

.slider-main {
    position: relative;
    top: 0;
}

.slick-prev {
    left: -20px !important;
}

.next-slick-arrow,
.prev-slick-arrow {
    color: #1da1f2;
    font-size: 48px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.admin_create_news-ta {
    display: flex;
    flex-direction: column;

}

.Sidebar {
    position: static;
    height: 100vh;
    background: #757575;
    width: 15vw;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}
.admin_news{
    margin: 0px 20px 0px 20px;
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_panel{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

::-webkit-input-placeholder{
    color: #969696;
}
.news_panel {
    height: 75vh;
    border-radius: 40px;
    padding: 30px;
    position: static;
    width: 100%;
    background: #444444;
}
.news_panel div{
    display: flex;
    justify-content: center;
    overflow:scroll;
    max-height: 100%;
}
.news_table {
    width: 97%;
    position:relative;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.news_table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.news_table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.active_sidebar li {
    background: #888888;
}

.SidebarList .row .Activity {
    background: #888888;
}

.SidebarList .row {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;

}

.admin_panel {
    display: flex;
    flex-direction: row;
}

.SidebarList .row div {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 70%;
}

.SidebarList .row:hover {
    cursor: pointer;
    background: #888888;
}

.text_title_send {
    border: 3px solid #5a5959;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.admin_create_news-image {
    height: 128px;
    width: 128px;
    margin-left: 5px;
    border: 3px solid #5a5959;
    border-radius: 10%;
}

.admin_create_news-ta textarea {
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    resize: none;
    height: 100%;
    border: 3px solid #5a5959;
    box-shadow: #4e4e4e;
}

.admin_create_news {
    border: #4e4e4e 3px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

.testimonials__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonials__name {
    display: flex;
    position: relative;
    justify-content: right;
    margin-left: 140px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 30px;
    color: #15337eed;
}

.testimonials__text {
    display: flex;
    text-align: justify;
    margin: 20px auto;
    width: 500px;
    min-height: 200px;
    height: auto;
    background-color: transparent;
    font-style: italic;
    font-weight: 100;
    position: static;
    border-radius: 22px;
    border: 4px solid #15337eed;
    font-size: 20px;
    padding: 25px;
    color: #15337eed;
}

.testimonials__text__main {
    width: 442px;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.testimonials__items img {
    position: absolute;
    display: flex;
    justify-content: right;
    margin: 10px 30px;
    border-radius: 100%;
    border: 3px solid rgb(230, 226, 226);
    box-shadow: 0px 7px 24.3px 2.7px rgb(11 38 124 / 14%);

}

.footer__icons {
    display: flex;
    opacity: 0.8;
    align-self: center;
}

.footer__icons a {
    position: relative;
    padding: 0 7px 0 0;

}

.copyright__block {
    display: grid;
}

.copyright__text {
    display: flex;
    justify-content: center;
    align-items: end;
}

.testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding-bottom: 2vw;
    background-color: white;
}

.icon {
    width: 30px;
    height: 30px;

}

.rofl {
    padding: 5px 0px 5px 0px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials__items {
    display: flex;
    position: static;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    color: #15337eed;;

    margin: 0 auto

    /* border-radius: 25px; */;
}

.combo-img {
    position: absolute;
    width: 500px;
    height: auto;
}

.testimonials__position {
    position: relative;
    margin-left: 140px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    color: #15337eed;
    font-weight: 300;
    line-height: 150%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.textNews{
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.location{
    display: flex;
    height: 350px;
    background-color: #15337eed;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 2em 6em;
}
.textLocation{
    margin: auto;
    padding-left: 1em;
    font-size: 22px;

}
.mapLocation{
    margin: 1em 1em;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}